@import "../breakpoint";

_mb-get-length {
    px: _mb-get-length(70px);
    rem: _mb-get-length(3rem);
    em: _mb-get-length(4.5em);
    decimal: _mb-get-length(50.50px);
    negative: _mb-get-length(-40px);
    context: _mb-get-length(32px, $browser-context: 8px);
    error: _mb-get-length(2%);
    pixel-before: _mb-get-length(40em, $pixel-before: true);
}