/*==== Test ====*/
/*
  small: 0px
  medium: 640px
  large: 1024px
  xlarge: 1200px
  xxlarge: 1440px
*/
@media (min-width: 0px) {
  selector-breakpoint {
    test: "@include breakpoint(small)";
    min: 0px;
    max: false; } }
@media (min-width: 10px) {
  selector-breakpoint {
    test: "@include breakpoint(10px)";
    min: 10px;
    max: false; } }
@media (min-width: 10px) and (max-width: 100px) {
  selector-breakpoint {
    test: "@include breakpoint(10px 100px)";
    min: 10px;
    max: 100px; } }
@media (min-width: 0px) and (max-width: 100px) {
  selector-breakpoint {
    test: "@include breakpoint(small 100px)";
    min: 0px;
    max: 100px; } }
@media (min-width: 640px) and (max-width: 1199px) {
  selector-breakpoint {
    test: "@include breakpoint(medium large)";
    min: 640px;
    max: 1199px; } }
@media (min-width: 640px) and (max-width: 1023px) {
  selector-breakpoint {
    test: "@include breakpoint(medium only)";
    min: 640px;
    max: 1023px; } }
@media (max-height: 1199px) {
  selector-breakpoint {
    test: "@include breakpoint(large down height)";
    min: false;
    max: 1199px; } }
@media (min-width: 1200px) and (max-width: 1439px) {
  selector-breakpoint {
    test: "@include breakpoint(xlarge only)";
    min: 1200px;
    max: 1439px; } }
@media (min-width: 1440px) {
  selector-breakpoint {
    test: "@include breakpoint(xxlarge only)";
    min: 1440px;
    max: false; } }
@media (max-width: 100px) {
  selector-breakpoint {
    test: "@include breakpoint(100px down)";
    min: false;
    max: 100px; } }
@media (min-width: 10px) and (max-width: 10px) {
  selector-breakpoint {
    test: "@include breakpoint(10px only)";
    min: 10px;
    max: 10px; } }

@media (orientation: portrait) {
  selector-media {
    test: "@include media(portrait)";
    orientation: portrait;
    device: all;
    resolution: false; } }
@media (orientation: landscape) {
  selector-media {
    test: "@include media(landscape)";
    orientation: landscape;
    device: all;
    resolution: false; } }
@media only print {
  selector-media {
    test: "@include media(print)";
    orientation: all;
    device: print;
    resolution: false; } }
@media only screen {
  selector-media {
    test: "@include media(screen)";
    orientation: all;
    device: screen;
    resolution: false; } }
@media only speech {
  selector-media {
    test: "@include media(speech)";
    orientation: all;
    device: speech;
    resolution: false; } }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  selector-media {
    test: "@include media(2x)";
    orientation: all;
    device: all;
    resolution: 2x; } }
@media (-webkit-min-device-pixel-ratio: 1.30208), (min-resolution: 125dpi) {
  selector-media {
    test: "@include media(125dpi)";
    orientation: all;
    device: all;
    resolution: 125dpi; } }
@media (-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi) {
  selector-media {
    test: "@include media(2.5dppx)";
    orientation: all;
    device: all;
    resolution: 2.5dppx; } }
@media only screen and (-webkit-min-device-pixel-ratio: 0.75), only screen and (min-resolution: 72dpi) {
  selector-media {
    test: "@include media(screen 72dpi)";
    orientation: all;
    device: screen;
    resolution: 72dpi; } }

@media only screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3), only screen and (orientation: portrait) and (min-resolution: 288dpi) {
  selector-media {
    test: "@include media(screen portrait 3x)";
    orientation: portrait;
    device: screen;
    resolution: 3x; } }

@media only screen and (min-width: 1024px) and (max-width: 1199px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1024px) and (max-width: 1199px) and (orientation: landscape) and (min-resolution: 192dpi) {
  selector {
    test: "@include breakpoint(large only) -> @include media(screen landscape 2x)";
    min: 1024px;
    max: 1199px;
    orientation: landscape;
    device: screen;
    resolution: 2x; } }

/*# sourceMappingURL=test.css.map */
